@charset "UTF-8";

td.content_text {
	line-height: 200%;
}

td.content_text {
	font-size: 20px;
	font-family: malgun;
	font-weight: bold;
	color: #ffffff;
	text-align: right;
}

td.main_text {
	font-size: 20px;
	font-family: malgun;
	font-weight: bold;
	color: #808080;
	text-align: left;
}

td.main_text02 {
	font-size: 20px;
	font-family: malgun;
	font-weight: bold;
	color: #808080;
	text-align: left;
}

input.inputbox01 {
	border: 1px solid #c0c0c0;
	background-color: #ffffff;
	width: 250px;
	font-family: Arial;
	font-size: 20px;
	color: #808080;
	padding: 5px;
}

input.inputbox01::placeholder {
	font-size: 15px;
	color: #808080;
	font-style: Arial;
}

input.inputbox02 {
	border: 1px solid #c0c0c0;
	background-color: #ffffff;
	width: 20px;
	font-family: Arial;
	font-size: 20px;
	color: #808080;
	padding: 0px;
}

input.content_btn01 {
	background-color: rgb(160,200,255);
	width: 220px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: rgb(40,40,40);
	font-weight: bold;
	padding: 5px;
}


input.content_btn01:hover {
	font-family: malgun;
	color: rgb(110,150,205);
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

input.content_btn02 {
	background-color: rgb(160,200,255);
	width: 450px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: rgb(40,40,40);
	font-weight: bold;
	padding: 5px;
}

input.content_btn02:hover {
	font-family: malgun;
	color: rgb(110,150,205);
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

select.type {
	border: 1px solid #c0c0c0;
	background-color: #ffffff;
	width: 250px;
	font-family: Arial;
	font-size: 20px;
	color: #808080;
	padding: 5px;
}