@charset "UTF-8";

body {
	
	margin:0;
	padding:0;
	background-color: rgb(40,40,40);
}

tr.headerline {

	height: 100px;
	margin:0 auto;  /* 화면 중앙에 배치 */
	width:100%;    /* 너비 */
	background-color: rgb(40,40,40);
	
}

td.headertext {
	font-size: 15px;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
	color: #30cf30;	
	display: inline-block; 	 
	white-space: nowrap;
	margin-top: 12px;
}

td.margin01 {
	width: 65%;
}

td.margin02 {
	width: 1%;
}

tr.marginline {
	height: 40px;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

/* 로고 */
#logo{ 
  float:left;   /* 왼쪽으로 플로팅 */ 
  width:250px;   /*  너비 */ 
  height:100px;   /* 높이 */
  line-height:100px;  /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
  padding-left:150px;  /* 왼쪽에 여백 */
}
#logo h1 {
  font-family:fantasy;
  font-weight:300;
  font-size:40px;   /* 글자 크기 */
  color:rgb(255,255,140);   /* 글자 색*/
}

.loginTitle {
	height: 40px;
	color: #ffffff;
}


