
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');


* {
  margin:0;   /* 마진 리셋 */
  padding:0;   /* 패딩 리셋 */
  box-sizing: border-box;   /* 박스 영역은 테두리까지 */
  background-color:rgb(40,40,40);
  
}
a {
  text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
  color: inherit;
}
ul {
  list-style: none;
}



/*********************************/
/* 헤더 영역 - 로고와 내비게이션 */
/*********************************/


td.headertext {
	font-size: 15px;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
	color: #ffffff;
	width: 5%;
}
td.margin01 {
	width: 0%;
}

td.margin02 {
	width: 0%;
}

tr.marginline {
	height: 40px;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.loginTitle {
	height: 40px;
	color: #ffffff;
}

/* 로고 */
#logo{ 
  float:left;   /* 왼쪽으로 플로팅 */ 
  width:250px;   /*  너비 */ 
  height:100px;   /* 높이 */
  line-height:100px;  /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
  padding-left:150px;  /* 왼쪽에 여백 */
}
#logo h1 {
  font-family:fantasy;
  font-weight:300;
  font-size:40px;   /* 글자 크기 */
  color:rgb(255,255,140);   /* 글자 색*/
}
