@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

tr.headerline {
	height: 50px;
	background-color: #30cf30;
	
}

td.headertext {
	font-size: 15px;
	font-family: Arial;
	text-align: center;
	color: #ffffff;	
	display: inline-block; 	 
	white-space: nowrap;
	margin-top: 12px;
}

td.margin01 {
	width: 65%;
}

td.margin02 {
	width: 1%;
}

tr.marginline {
	height: 40px;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}





