@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

span.title01{
	font-size: 70px;
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

span.title02{
	font-size: 30px;
	color: #ffffff;
	font-family: Arial;
	font-weight: normal;
}

td.titlebox {
	text-align: center;
}

table.content_main {
	margin-top: 5%;
}

input.content_btn01 {
	border: 2px solid rgb(160,200,255);
	background-color: rgb(160,200,255);
	width: 400px;
	height: 80px;
	font-family: malgun;
	font-size: 30px;
	color:rgb(40,40,40);
	font-weight: bold;
	padding: 5px;	
	margin: 3px;
}

input.content_btn01:hover {
	font-family: malgun;
	color: rgb(110,150,205);
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}