section#main {
    width:758px;
	color : #ffffff;
    float:center;
}

section#main h2#board_title {
    border-bottom:solid 1px rgb(40,40,40);
    margin-top:20px;
    padding:0 0 5px 0;    
}

section#main #total_search {
    height:35px;
    position:relative;
}

section#main #total {
    position:absolute;
    top:10px;
    color : #ffffff;
}

section#main #search {
    position:absolute;
    left:460px;
}

section#main #search_select {
    position:absolute;
    top:7px;
    left:60px;
}

section#main #search_input {
    position:absolute;
    top:7px;
    left:130px;
}

section#main #search_input input {
    width:100px;
}

section#main #search_btn {
    position:absolute;
    top:6px;
    left:240px;
}

section#main table {
    border-collapse:collapse;
    margin:0 auto;
    width:100%;
    color : #ffffff;
}

section#main tr {
    height:40px;
    border-bottom:solid 1px #dddddd;
    color : #ffffff;
}

section#main td {
    border-bottom:solid 1px #dddddd;
    color : #ffffff;
}

section#main th {
    border-top:solid 2px #aaaaaa;
    background-color:rgb(40,40,40);
    color : #ffffff;
}

section#main td.col1 {
    width:60px;
    text-align:center;
    color : #ffffff;
}

section#main td.col3 {
    width:60px;
    text-align:center;
    color : #ffffff;
}

section#main td.col4 {
    width:100px;
    text-align:center;
    color : #ffffff;
}

section#main td.col5 {
    width:50px;
    text-align:center;
    color : #ffffff;
}

section#main td a:link {
    text-decoration:none;
    color:#ffffff;
}

section#main td a:visited {
    text-decoration:none;
    color:#ffffff;
}

section#main td a:hover {
    text-decoration:underline;
    color:#444444;
}

section#main #buttons .col1 {
    float:left;
    margin-left:300px;
}

section#main #buttons .col2 {
    float:right;
    margin-right:10px;
}

section#main #buttons {
    margin-top:20px;
}


