section#main h2#board_title {
    margin-top:20px;
    padding:0 0 5px 0;
    color: #ffffff;
}

section#main #view_title_box {
    border-top:solid 2px #aaaaaa;
    background-color: rgb(40,40,40);
    padding:10px;
    margin-top:10px;
    width: 50%;
    color: #ffffff;
}

section#main #view_title_box #info {
    margin-left:600px;
    color: #ffffff;
}

section#main #view_title_box #boardTitle {
    font-size:13px;
    color: #ffffff;
}

section#main #view_content {
    line-height:300px;
    padding:10px;
    color: #ffffff;
}

section#main #comment_box {
	width: 50%;
    height:115px;
    background-color:rgb(40,40,40);
    border-top:solid 1px #cccccc;
    position:relative;
    color: #ffffff;
}

section#main #comment_box textarea {
    width:515px;
    height:80px;
    top:15px;
    text-align: center;
    color:#ffffff;
}

section#main #comment_box #title_comment {
	position:absolute;
    top:15px;
    text-align: center;
    color:#ffffff;
}

section#main #comment_box #ok_answer {
    position:absolute;
    top:15px;
   	text-align: center;
   	color:#ffffff;
}

section#main #buttons {
    text-align:center;
    margin:0;
}