@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

span.title01{
	font-size: 70px;
	color: #ffffff;
	font-family: Arial;
	font-weight: bold;
}

span.title02{
	font-size: 30px;
	color: #ffffff;
	font-family: Arial;
	font-weight: normal;
}

td.titlebox {
	text-align: center;
}

td.titlebox02 {
	text-align: center;
}

td.titlebox03 {
	text-align: center;
	color: #ffffff;
	height: 50px;
	
}

td.titlebox03:hover {
	font-family: malgun;
	color: rgb(110,150,205);
	font-weight: bold;
	cursor: pointer;
}









